@model AspMvcChatsupp.MVC.Areas.Chatsupp.Models.ChatBoxModel

<link href="~/Content/css/areas/chatsupp/chatbox.css" rel="stylesheet" />
<div>
    <header class="clearfix">
        <a class="chat-close" href="#">x</a>
        <h4>Support</h4>
    </header>
    <div class="chat">
        <div class="chat-history"></div>
        <fieldset id="visitorName">
            <div class="input-group">
                <input class="form-control" name="visitorName" placeholder="Your name...">
                <span class="input-group-btn">
                    <button class="btn btn-info" id="btnNameOk">Ok</button>
                </span>
            </div>
        </fieldset>
        <p class="chat-feedback" style="display:none;">Your partner is typing…</p>
        <div action="" method="post">
            <fieldset>
                <input type="text" placeholder="Type your message…" autofocus="autofocus">
            </fieldset>
        </div>
    </div>
</div>
<div id="live-chat">

    <header class="clearfix">

        <a href="#" class="chat-close">x</a>

        <h4>@Model.Title</h4>

        <span class="chat-message-counter">1</span>

    </header>

    <div class="chat">
        <fieldset id="visitorName">
            <div class="input-group">
                <input class="form-control" name="visitorName" placeholder="Your name...">
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button" id="btnNameOk">Ok</button>
                </span>
            </div>

        </fieldset>
       

        <form action="@Model.Action" method="post" onsubmit="" >

            <fieldset>

                <input type="text" placeholder="Type your message…" name="message" autofocus disabled>
                <input type="hidden">

            </fieldset>

        </form>

    </div> <!-- end chat -->

</div> <!-- end live-chat -->

<scrtip>
   


</scrtip>

<script type="text/javascript">
    @*<p class="chat-feedback">Your partner is typing…</p> *@

    (function () {

        $('#live-chat header').on('click', function () {

            $('.chat').slideToggle(300, 'swing');
            $('.chat-message-counter').fadeToggle(300, 'swing');

        });

        $('.chat-close').on('click', function (e) {

            e.preventDefault();
            $('#live-chat').fadeOut(300);

        });

    })();
</script>