@model AspMvcChatsupp.MVC.Areas.Chatsupp.Models.ChatBoxModel

<link href="~/Content/css/areas/chatsupp/chatbox.css" rel="stylesheet" />

<div id="live-chat">

    <header class="clearfix">

        <a href="#" class="chat-close">x</a>

        <h4>@Model.Title</h4>

        <span class="chat-message-counter">1</span>

    </header>

    <div class="chat">
        
        <form id="formChat" method="post">
            
            <fieldset>

                <input type="text" placeholder="Type your message…" name="message" autofocus >
                <input type="hidden">

            </fieldset>

        </form>

    </div> <!-- end chat -->

</div> <!-- end live-chat -->


<script type="text/javascript">
    @*<p class="chat-feedback">Your partner is typing…</p> *@

    (function () {

        $('#live-chat header').on('click', function () {

            $('.chat').slideToggle(300, 'swing');
            $('.chat-message-counter').fadeToggle(300, 'swing');

        });

        $('.chat-close').on('click', function (e) {

            e.preventDefault();
            $('#live-chat').fadeOut(300);

        });

    })();
</script>
