@model IList<AspMvcChatsupp.DataAccess.Domain.Visitor>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>BAdmin</h2>
    <input type="hidden" name="agentName" value="@AspMvcChatsupp.MVC.Helpers.SessionHelper.AgentName" />
    <input type="hidden" name="agentId" value="@AspMvcChatsupp.MVC.Helpers.SessionHelper.AgentId" />
    <div id="_visitorList">
        @Html.Partial("_VisitorList",Model)
    </div>
   
@section Scripts{
    <script type="text/javascript">
        $(function () {
            var connInfoId = null;
            var chatsuppHub = null;
            var createChatBox = function (visitorName) {
                console.log(visitorName);
                $.ajax({
                    url: "/Chatsupp/Admin/ChatBoxAgent",
                    type: "GET",
                    contentType: "application/json",
                    data: {title: visitorName },
                    success: function (resp) {
                        $("body").append(resp);
                        //$("#btnNameOk").click(registerVisitor);
                        $("#formChat").submit(sendMessageToVisitor);
                    }
                })
            }

            var sendMessageToVisitor = function (e) {
                
                e.preventDefault();
                
                chatsuppHub.server.sendToVisitor(connInfoId, $(this).find("input[name='message']").val());
            }

            var init = function () {
                
                chatsuppHub = $.connection.chatsuppHub;

                // Start the connection.
                $.connection.hub.start().done(function () {
                    console.log("successful connection");
                    chatsuppHub.server.registerAgent();

                }).fail(function (data) {console.log(data)});

                //ChtuHub callbacks
                chatsuppHub.client.receiveVisitorMessage = function (visitorName, message) {
                    alert(visitorName + " says: " + message);
                    //createChatBox()
                };
                chatsuppHub.client.refreshVisitorList = function () {
                    $.ajax({
                        url: "/Chatsupp/Admin/Dashboard",
                        type: "GET",
                        success: function (resp) {
                            $("#_visitorList").html(resp);
                        }
                    })
                };

                $("table tbody tr").click(function () {
                    connInfoId = $(this).data("conninfoid");
                    createChatBox($(this).data("name"));
                })

            }

            init();
        });

    </script>  
}
