@model IList<AspMvcChatsupp.DataAccess.Domain.Visitor>
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div id="_visitorList">
        @Html.Partial("_VisitorList", Model)
    </div>
</div>
    
   
   
@section Scripts{
    <script type="text/javascript">
        $(function () {
            var chatsuppHub = null;
            
            var init = function () {
                
                chatsuppHub = $.connection.chatsuppHub;

                // Start the connection.
                $.connection.hub.start().done(function () {
                    console.log("successful connection");
                    chatsuppHub.server.registerAgent();

                }).fail(function (data) {console.log(data)});

                chatsuppHub.client.refreshVisitorList = function () {
                    $.ajax({
                        url: "/Chatsupp/Admin/Dashboard",
                        type: "GET",
                        success: function (resp) {
                            $("#_visitorList").html(resp);
                            initVisitorTable();
                        }
                    })
                };
                //ChtuHub callbacks
                chatsuppHub.client.receiveVisitorMessage = function (visitorName, message) {
                    console.log(visitorName + ": " + message);
                    addHistoryItem(visitorName, message);

                };
                chatsuppHub.client.refreshHistory = function (visitorId) {
                    console.log(visitorId)
                    if (visitorId == $("#VisitorId").val()) {
                        refreshChatHistory();
                    }
                    
                };
                initVisitorTable();
                bindEvents();

            }

            var initVisitorTable = function () {
                $("#visitorTable").DataTable();
                $("#visitorTable tbody tr").click(function () {
                   
                    $.ajax({
                        url: "/Chatsupp/Admin/VisitorInfo",
                        type: "GET",
                        contentType: "application/json",
                        data: { visitorId: $(this).data("conninfoid")},
                        success: function (resp) {
                            $(".content").html(resp);
                            bindEvents();
                            
                        }
                    })
                })
            }

            var refreshChatHistory = function () {
               
                $.ajax({
                    url: "/Chatsupp/Admin/VisitorInfo",
                    type: "GET",
                    data: {visitorId : $("#VisitorId").val()},
                    success: function (resp) {
                        $(".content").html(resp);
                    }
                })
            }

            var sendMessageToVisitor = function (e) {
                e.preventDefault();
                var message = $(this).find("input[name='message']").val();
                chatsuppHub.server.sendToVisitor($("#VisitorId").val(), message);
                addHistoryItem($("#visitorName").html(), message);
                $(this).trigger("reset");
            }

            var addHistoryItem = function (username, value) {
                var divComment = $("<div>", { class: "card-comment" });
                divComment.append($("<img>", { class: "img-circle img-sm", src: "/Content/img/avatarSupport.png"}));
                var divCommentText = $("<div>", { class: "comment-text" });
                divCommentText.append($("<span>", { class: "username" }).html(username).append($("<span>", { class: "text-muted float-right" })));
                divCommentText.append($("<p>").html(value));
                divComment.append(divCommentText);
                $(".card-comments").append(divComment);

            }

            var bindEvents = function () {
                $("#formMessage").submit(sendMessageToVisitor);
            }

            init();

        });

    </script>  
}
